<!--
<div class="row">
    <div class="span16">
        <%= form_tag rooms_path, :method => :get do %>
            <p>
            Find by Location
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, :class => "btn default" %>
            </p>
        <% end %>
    </div>
</div>
-->

<div class="row">
    <h1 class="span12">Available Rooms</h1> <br/>
    <h3 class="span12">Roompatible is new in town - don't be shy, go ahead and post your room.</h3>
    <div class="span4">
        <%= link_to 'Post A Room', new_room_path, :class => "btn large success padding" %>
    </div>
</div>

<br />

<ol class="row">
    <% @rooms.each do |room| %>
        <div class="span2">
    
            <li class="room_index">
            <% if room.user.provider.eql? "twitter" %>
                <%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{room.user.uid}?size=bigger", :size => "75x75", :class => "user_picture"), room %>
            <% elsif room.user.provider.eql? "facebook" %>
                <%= link_to image_tag("http://graph.facebook.com/#{room.user.uid}/picture", :size => "75x75", :class => "user_picture"), room %>
            <% end %>
        </div>

        <div class="span10">
        <%= link_to(room) do %><strong><%= "$" + room.price.to_s + " - " + room.title %></strong><%end%>
            <div class="room-list-description"><%= room.description %></div>
            <% if room.location.present? %>
                <%= Location.find_all_by_room_id(room.id).last.city %>
            <% end %>
            </li>
        </div>
        <div class="span4">
            <% if room.user == current_user %>
        <p>
                <%= link_to 'Edit Room', edit_room_path(room) %> | 
                <%= link_to 'Delete', room, :confirm => 'Are you sure you want to delete this Room listing?', :method => :delete %>
        </p>
        <br />
            <% elsif current_user %>
                <h1><%= CompatibilityAlgorithm.get_score(current_user.id, room.user_id).to_i %>% <small>Roompatible</small></h1>
            <% else %>
                <h4>For Roompatibility Score</h4>
                <a class="btn primary padding" href="/sign-up">Log In/ Sign up</a>
            <% end %>
        <br />
        <br />
        <br />
        </div>
    <% end %>
</ol>

<div class="row">
<div class="span16">
<%= paginate @rooms %>
<h3>Haven't found the perfect room yet? Why dont you post a <a href="/roommates">roommate request</a>?</h3>
</div>
</div>
